#serviceMetaDataTable { display: none; font-size: 11px; }
#serviceMetaDataTable td, #serviceMetaDataTable { border: 1px solid #333; padding: 2px 5px; }
#serviceMetaDataTable th { color: #fff; background-color: #333; padding: 4px 0; text-transform: uppercase; }

/* testing */
#micrositeHeader .socialShare-addThis { right: 25px; top: 50px; }
#micrositeFooter .socialShare-addThis { right: 25px; top: 50px; }
#micrositeContentColumnFull .socialShare-addThis { top: auto !important; bottom: 0; left: 0; background-color: #ccc; padding: 6px 10px; border-radius: 0 6px 0 0;}
#micrositeContentColumnFull .socialShare-addThis a:first-child { margin: 0; }